$color-ocre: #B17A6E;

* {
	box-sizing: border-box;
	cursor: none !important;
}
html {
	// scroll-behavior: smooth;
}
body {
	opacity: 1;
	transition: opacity 2s;	
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
	margin: 0;
	color: #2C2B2C;
	width: 100vw;
	overflow-x: hidden;
	.App{
		background-color: $color-ocre
	}
}
header {
	position: fixed;
	top: 0;
	z-index: 13;
	visibility: hidden;
	a {
		top: 15px;
		left: 15px;
		position: relative;
		width: 120px;
		height: 120px;
		z-index: 999999;
	}
	.nav-mobile{
		display: none;
	}
}


.rosemill-logo {
	width: 120px;
	height: 120px;
}
.rosemill-logo-loader {
	width: 120px;
	height: 120px;
}
.rosemill-logo-rose {
	height: 50px;
	width: 50px;
	position: absolute;
	bottom: 45px;
	left: 40px;
}
.header-logo {
	opacity: 1;
}
nav {
	margin-top: 10px;
	text-align: center;
	ul{
		padding-left: 0;
		list-style-type: none;
		li{
			height: auto;
			overflow: hidden;
			.nav-link {
				transform: translateX(-140%);
				display: block;
				height: 40px;
			}
		}
	}
}
.wrapper {
	width: 80%;
	margin: 0 auto;
}
.home {
	font-size: 35px;
	font-family: 'Cormorant Garamond', serif;
}
.moon-ani {
	position: fixed;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
}
.main-gif {
	position: absolute;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 0;
	&-design{
		overflow: hidden;
		img{
			height: 653px;
			width: 510px;
			object-fit: cover;
		}
		.white-square{
			width: 510px;
			height: 653px;
			background-color: white;
			position: absolute;
			&-2{
				width: 510px;
				transform: translateX(-100%);
			}
		}
	}
	&-dev{
		img{
			width: 710px;
			height: auto;
		}
	}
}
.main-gif.absolute {
	position: absolute;
	top: 200px;
}
.h1-wrap{
	overflow: hidden;
	h1{
		display: flex;
		justify-content: center;
		div{
			transform: translateY(100%);
			&.tall{
				transform: translateY(120%);
			}
		}
	}
}
.page-design {
	.main-gif.absolute {
		top: 200px;
	}
	h1 {
		margin-top: 175px;
	}
	.blank {
		width: 100%;
		height: 100px;
	}

	nav {
		a {
			&:hover {
				color: #8E665E;
			}
		}
	}
}
.main-heading-wrap {
	width: 100%;
	height: 100vh;
	position: relative
}
h1 {
	font-family: 'Cormorant Garamond', serif;
	font-size: 19.5rem;
	text-align: center;
	margin: 100px 0 0 0;
	letter-spacing: 1px;
	font-weight: 500;
}
h1.animated {
	animation-duration: 2s;
	animation-fill-mode: both;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	opacity: 0;
	animation-name: fadeInUp;
	-webkit-animation-name: fadeInUp;
}
body.page-design {
	background-color: white;
}
.rosemill {
	letter-spacing: 8px;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	margin-top: 10px;
	line-height: 2.0;
	visibility: hidden;
	position: relative;
	span {
		display: block;
		margin-bottom: 30px;
	}
}
.city {
	display: flex;
	width: 100%;
	max-width: 706px;
	justify-content: space-between;
	font-weight: 400;
	font-size: 20px;
	margin: auto;
	overflow: hidden;
	.koordinate {
		transform: translateX(-100%);
		visibility: hidden;
		a {
			cursor: cell;
			text-decoration: none;
			outline: none;
		}
	}
	.ljubljana {
		transform: translateX(100%);
		visibility: hidden;
	}
}
.of-hidden{
	overflow: hidden;
}

.mb64{
	margin-bottom: 64px;
}

.mb80{
	margin-bottom: 80px
}

.mt80{
	margin-top: 80px;
}
.intro{
	margin: 500px auto 80px;
	&-dev{
		margin-bottom: 300px;
	}
}
.mt80{
	margin-top: 80px;
}

.mt64{
	margin-top: 64px;
}
.intro-copy {
	margin: 0 auto;
	line-height: 1.4;
	text-align: center;
	font-size: 40px;
	font-family: 'Cormorant Garamond', serif;
	transform: translateY(120%);
	strong {
		font-size: 65px;
		letter-spacing: 1px;
	}
	span {
		position: relative;
		&::after {
			position: absolute;
			content: '';
			height: 1px;
			bottom: -4px;
			margin: 0 auto;
			left: 0;
			right: 0;
			width: 100%;
			background: #2C2B2C;
		}
	}
}
.venera {
	position: absolute;
	height: 250px;
	overflow: hidden;
}
.front-end {
	background-color: $color-ocre;
	img {
		margin: auto;
		display: flex;
		margin-top: 30px;
		margin: auto;
		display: flex;
		margin-top: 30px;
	}
	a {
		font-weight: 400;
		font-size: 20px;
		text-align: center;
		display: block;
		span {
			margin-top: 10px;
		}
	}
}
section.test-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
section.test-sticky.design {
	width: 80%;
	margin: auto;
}
.design-trigger{
	visibility:hidden;
}
.design {
	h2 {
		font-size: 8.5rem;
		text-align: center;
		font-family: 'Cormorant Garamond', serif;
		margin-bottom: 0;
	}
}
.webdev {
	height: 200vh;
	h2 {
		font-size: 8.5rem;
		text-align: center;
		font-family: 'Cormorant Garamond', serif;
		margin-bottom: 0;
		position: sticky;
		top: 0;
		background-color: $color-ocre;
		z-index: 12;
	}
	background-color: $color-ocre;
	z-index: 12;
	margin: auto;
.horizontal{
	&-body {
		overscroll-behavior: none;
		height: calc(100vh - 156px);
	}
	&-container,
	&-container-first
	 {
		overscroll-behavior: none;
		width: 600%;
		height: calc(50vh - 79px);
		display: flex;
		flex-wrap: nowrap;
	  }
	  &-container-first{
		transform: translateX(-30%);
	  }
}

.panel,
.panel2 {
    width: 30vw;
    height: calc(50vh - 79px);
	margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    color: white;
    position: relative;
    box-sizing: border-box;
    padding: 15vh 10px 10px;
	p{
		opacity: 0;
		margin-top: 0;
	
	}
	&:hover{
		p{
			opacity: 1;
		}
		
	}
}

.panel2{
	margin-top: 10vh;
}

}
.about {
	background-color: $color-ocre;
	h2 {
		font-size: 8.5rem;
		text-align: center;
		font-family: 'Cormorant Garamond', serif;
		margin-bottom: 0;
		position: sticky;
		top: 0;
		background-color: $color-ocre;
		z-index: 12;
	}
	height: 100vh;
	position: relative;
	margin-bottom: 100px;
	.img {
		position: absolute;

		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		height: 100vh;
		opacity: .6;
	}
	.intro-copy {
		margin-top: 275px;
	}
	.kaja-img{
		width: 400px;
		height: 655px;
		background-image: url("../../img/kaja.png");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
}
.img {
	img {
		margin: auto;
		width: 100%;
		max-width: 400px;
	}
}
.heading-2 {
	margin-top: 0px;
}
.heading-2-pink {
	color: $color-ocre;
	z-index: 11;
	font-size: 20.5rem;
	text-align: center;
	font-family: 'Cormorant Garamond', serif;
	width: 100%;
	position: sticky;
	position: -webkit-sticky;
	top: 21vh;
}
footer {
	height: 10vh;
	border-top: 1px solid #2C2B2C;
	text-align: center;
	width: 100%;
	padding-top: 24px;
	bottom: 0;
	&.whitefooter{
		background-color: #ffffff;
	}
	.marquee {
		width: 100%;
		overflow: hidden;
	  }
	  .marquee .inner {
		width: 100%;
		display: flex;
		}
	  .marquee .inner > * {
		white-space: nowrap;
	  }
}
.piece-1 {
	margin-bottom: 200px;
}
.design-portfolio-front {
	width: 100%;
	margin: 100px auto 0;
	.pixelator{
		background-size: cover;
		background-repeat: no-repeat;
	}
}
.design-piece {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 300px;
}
.design-thumbnail {
	z-index: 10;
	position: relative;
	width: 30%;
	cursor: pointer;
	span {
		transform: rotate(90deg);
		font-weight: 400;
		letter-spacing: 5px;
	}
	img.rot-img{
		object-fit: cover;
		z-index: -1;
		position: absolute;
		left: 5vw;
		top: 5vw;
		height: 15vw;
		width: 15vw;
	}
	.h3{
		&-container{
			height: 84px;
			width: 25vw;
			overflow: hidden;
			margin-bottom: 24px;
		}
		&-wrap{
			height: 84px;
			width: 25vw;
			transform: translateY(120%);
			display: flex;
			justify-content: center;
			align-items: center;
			h3 {
				text-align: center;
				opacity: 0;
				visibility: hidden;
				font-family: 'Cormorant Garamond', serif;
		font-size: 4rem;
		font-weight: 600;
		margin: 0;
		line-height: 1;
			}
		}
	}

	.th-desc{
		width: 25vw;
		position: relative;
		.vert-line{
			height: 0;
			margin-top: 16px;
			margin-bottom: 8px;
			width: 2px;
			background-color: #2C2B2C;
			margin-left: calc(12.5vw - 2px);
		}
		p{
			text-align: center;
			opacity: 0;
			visibility: hidden;
		}
	}
}
.webdev-content {
	h3 {
		font-family: 'Cormorant Garamond', serif;
		font-size: 4rem;
		font-weight: 600;
		margin: 0;
		line-height: 1;
	}
	align-items: center;
	background-color: $color-ocre;
	.webdev-piece {
		div {
			width: 50%;
			padding: 50px;
		}
	}
}
.scroll-arrow {
	font-size: 70px;
	position: fixed;
	bottom: 0;
	right: -60px;
	margin: 0 20px 20px 0;
	transform: translateX(100%);
	z-index: 13;
}
.scroll-arrow.down {
	-webkit-animation: mover 1s infinite alternate;
	animation: mover 1s infinite alternate;
}
.scroll-arrow.arrow-at-bottom {
	transform: rotate(180deg);
}
.see-all-design {
	display: block;
	text-align: center;
	margin-top: 50px;
	font-weight: 400;
	letter-spacing: 5px;
}
.see-all-webdev {
	display: block;
	text-align: center;
	margin-top: 50px;
	font-weight: 400;
	letter-spacing: 5px;
	margin-top: 100px;
}
.back-to-top {
	display: block;
	text-align: center;
	margin-top: 50px;
	font-weight: 400;
	letter-spacing: 5px;
	margin-top: 10px;
	z-index: 13;
}
.see-all-webdev.contact-me {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 1.6;
}
.webdev-piece {
	display: flex !important;
	align-items: center;
	border-bottom: 1px solid #2C2B2C;
	cursor: pointer;
}
.webdev-piece-image {
	position: relative;
	&::after {
		content: "";
		height: 33%;
		width: 1px;
		background-color: #2C2B2C;
		top: 33%;
		position: absolute;
		right: 20px;
	}
}
.maybe_tracks_h1 {
	font-size: 85px;
	font-family: 'Noto Serif', serif;
	margin-top: 0px;
	margin-bottom: 17px;
	width: 48%;
}
.maybe_tracks_intro {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 200px;
}
.rbn_intro {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 200px;
	width: 48%;
}
.upper_text {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 400px;
}
.bunch_paragraph {
	padding-top: 120px;
}
.left {
	text-align: center;
}
.right {
	text-align: center;
}
.flex-fix {
	display: flex;
	flex-grow: 1;
}
.maybe_tracks_photos {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 60px;
	margin-top: 50px;
}
.maybe_tracks_sand {
	text-align: center;
}
.fifty {
	max-width: 48%;
	margin-right: 50px;
	text-align: center;
}
img {
	max-width: 100%;
}
.besedilo1 {
	width: 360px;
	max-width: 100%;
	color: white;
	background-color: black;
	margin-top: 0;
	text-align: left;
	h3 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 5px;
		padding-left: 10px;
		background-color: black;
	}
	p {
		padding-bottom: 10px;
		padding-left: 10px;
	}
}
.besedilo2 {
	width: 300px;
	max-width: 100%;
	color: white;
	background-color: black;
	margin-top: 0;
	text-align: left;
	h3 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 5px;
		padding-left: 10px;
		background-color: black;
	}
	p {
		padding-bottom: 10px;
		padding-left: 10px;
	}
}
.container1 {
	display: inline-block;
}
.container2 {
	display: inline-block;
}
a {
	text-decoration: none;
	color: #2C2B2C;
	transition: all .5s ease;
	padding: 5px;
	&:hover {
		color: #e8c48e;
	}
}

.name {
	text-align: center;
	margin-top: 150px;
	font-size: 110px;
	font-family: 'Noto Serif', serif;
	font-weight: 300;
	margin-bottom: 15px;
}
.phonetics {
	text-align: center;
	margin-bottom: 70px;
}
.aboutkyah {
	font-size: 1.4em;
	text-align: center;
	margin: 0 auto;
}
.icon {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 60px 25px 0px 25px;
}
.abouticons {
	text-align: center;
}
.chover {
	&:hover {
		position: relative;
		top: 3px;
		filter: brightness(1.1);
	}
}
.photo2_cover {
	width: 300px;
	height: 360px;
	object-fit: cover;
}
.planetPosition {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	width: 100%;
	height: 0;
	justify-content: center;
	align-items: center;
	max-width: 600px;
	.planets-wrap{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
.near-orbit {
	width: 100%;
	height: 100%;
	background-color: #33333347;
	position: absolute;
}
.mainPlanet, .smallPlanet{
	visibility: hidden;
}
.mainPlanet {
	position: absolute;
	width: 70%;
	height: 70%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	top: 15%;
	left: 15%;
}
.smallPlanet {
	img {
		width: 15%;
		-webkit-animation: rotation 5s infinite linear;
	}
	width: 100%;
	height: 100%;
	position: absolute;
}
.mars {
	animation: spin 18s linear 0s infinite;
	img {
		top: -75px;
		position: absolute;
	}
}
.saturn {
	animation: spin-negative 9s linear 0s infinite;
	img {
		top: -105px;
		position: absolute;
	}
}
.planet-x {
	animation: spin 12s linear 0s infinite;
	img {
		top: -10px;
		position: absolute;
	}
}
.planet-y {
	animation: spin-negative 15s linear 0s infinite;
	img {
		top: -135px;
		position: absolute;
	}
}
// .main-design{
// 	overflow-x: hidden;
// }
.design-item {
	display: flex;
	padding-left: 155px;
	
	&:first-child{
		margin-top: 50vh;
	}
	&:nth-child(even) {
		flex-direction: row-reverse;
	}
	div {
		width: 50%;
	}
	&:nth-child(odd) {
		.design-item-copy {
			background-color: $color-ocre;
		}
	}
}
.design-item-copy {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background-color: #e8c48e;
	text-align: center;
	h2 {
		font-size: 100px;
		font-family: 'Cormorant Garamond', serif;
		margin: 0;
		text-align: center;
		line-height: 1;
		color: #2C2B2C;
	}
	h3 {
		font-weight: 400;
		color: #2C2B2C;
	}
}
.design-item-images {
	background-color: #2C2B2C;
	display: flex;
	flex-direction: column;
}
.sec-des-main-gif {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 70vh;
}
.page-webdev {
	.main-gif {
		img {
			width: 100%;
			max-width: 700px;
		}
	}
	.main-heading-wrap {
		.rosemill {
			color: #2C2B2C;
		}
	}
	.sec-des-main-gif {
		height: 100vh;
	}

	.design-item-images {
		img {
			width: 100%;
			max-width: 500px;
			margin: auto;
		}
	}
}
.ljubljana {
	span {
		font-family: 'Tajawal', sans-serif;
	}
}

.design-item-images{
	div{
		height: 100%;
		width: 100%;
	}
}

.maybe-cover {
	background-image: url("../../img/Maybe/maybe_cover.png");
	height: 400px;

}
.maybe-content {
	background-image: url("../../img/Maybe/maybe_content.png");
	height: 400px;
}
.maybe-content2 {
	background-image: url("../../img/Maybe/maybe_content2.png");
	height: 400px;
}
.album_artwork {
	background-image: url("../../img/Rbno2/album_artwork.png");
}
.album-back {
	background-image: url("../../img/Rbno2/album_back.png");
}
.album_front {
	background-image: url("../../img/Rbno2/album_front.png");
}
.album_wallpaper {
	background-image: url("../../img/Rbno2/album_wallpaper.jpg");
}
.fb_fanpage {
	background-image: url("../../img/Rbno2/fb_fanpage.png");
}
.tracks_cover {
	background-image: url("../../img/Tracks/tracks_cover.png");
}
.tracks-logo {
	background-image: url("../../img/Tracks/tracks.jpg");
	height: 200px;
}
.tracks_back {
	background-image: url("../../img/Tracks/tracks_back.png");
}
.phone_screen {
	background-image: url("../../img/Bunch/phone_screen.png");
}
.bunch_website {
	background-image: url("../../img/Bunch/bunch_website.png");
	height: 1800px;
}
.sign {
	background-image: url("../../img/Bunch/sign.png");
}
.strider_screen {
	background-image: url("../../img/Strider/strider_screen.jpg");
}
.strider_waterbottle {
	background-image: url("../../img/Strider/strider_waterbottle.png");
}
.strider_website {
	background-image: url("../../img/Strider/strider_website.png");
	height: 2000px;
}
.pattern {
	background-image: url("../../img/Strider/pattern.png");
}
.tea {
	background-image: url("../../img/Banana/tea.png");
}
.teeprinting {
	background-image: url("../../img/Banana/teeprinting.png");
	height: 2000px;
}
.washingpowder {
	background-image: url("../../img/Banana/washingpowder.png");
}
.shirt {
	background-image: url("../../img/Banana/shirt.png");
}
.tracks-img {
	background-image: url("../../img/tracks.jpg");
	height: 25vw;
	width: 25vw;
	background-size: cover;
}
.bananaleaves-img {
	background-image: url("../../img/bananaleaves.png");
	height: 25vw;
	width: 25vw;
	background-size: cover;
}
.bunch-img {
	background-image: url("../../img/bunch.jpg");
	height: 25vw;
	width: 25vw;
	background-size: cover;
}
.maybe-img {
	background-image: url("../../img/maybe.jpg");
	height: 25vw;
	width: 25vw;
	background-size: cover;
}
.strider-img {
	background-image: url("../../img/strider.png");
	height: 25vw;
	width: 25vw;
	background-size: cover;
}
.rbno-img {
	background-image: url("../../img/Juxtaxrbno2.1a2rflctd.jpg");
	height: 25vw;
	width: 25vw;
	background-size: cover;
}


.mudra-screen {
	background-image: url("../../img/mudra-screen-pixelated.png");
}
.rps-screen {
	background-image: url("../../img/rock-paper-scissors-pixelated.png");
}
.alex-screen {
	background-image: url("../../img/aleksander-pixelated.png");
}
.mimi-screen {
	background-image: url("../../img/mimi_yoga-pixelated.png");
}
.jiffy-screen {
	background-image: url("../../img/jiffy-pixelated.png");
}
div.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 16;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color-ocre;
}
div.loading.hidden {
	opacity: 0;
	pointer-events: none;
}
.spinner {
	margin: 0 auto;
	width: 400px;
	text-align: center;
	>div {
		width: 35px;
		height: 35px;
		background-image: url("../../img/rose1_compressed.png");
		border-radius: 100%;
		display: inline-block;
		// -webkit-animation: sk-bouncedelay 1.7s infinite ease-in-out both;
		// animation: sk-bouncedelay 1.7s infinite ease-in-out both;
		background-size: cover;
	}
	.bounce{
		transform: scale(0);
	}
}

.bg-white{
	background-color: whitesmoke;
}

.relative{
	position: relative;
}


.intro-copy.info-text{
	width: 50%;
	max-width: 800px;
}
.intro-dev{
	.cc4{
		a{
			text-decoration: underline;
		}
	}
}