@media only screen and (max-width: 992px) {
	.design-item-copy {
		h2 {
			font-size: 70px;
		}
	}
	h1 {
		font-size: 12.5rem;
	}
	.design {
		h2 {
			font-size: 5.5rem;
		}
	}
	.webdev {
		h2 {
			font-size: 5.5rem;
		}
	}
	.about {
		h2 {
			font-size: 5.5rem;
			width: 90%;
			margin: auto;
		}
	}
	.rosemill-logo {
		width: 85px;
		height: 85px;
	}
	.rosemill-logo-rose {
		height: 40px;
		width: 40px;
		position: absolute;
		bottom: 32px;
		left: 27px;
	}
}
@media only screen and (max-width: 768px) {

	.page-webdev {
		.pixelator {
			max-width: 398px;
			height: 238px;
		}
	}
	.page-design {
		nav {
			a {
				&:hover {
					color: #E5DDE0;
				}
			}
		}
	}
	.pixelator {
		height: 375px;
		max-width: 340px;
		margin: 7px auto 0;
	}
	.homepage {
		.design-portfolio-front {
			.pixelator {
				max-width: 200px;
			}
		}
	}
	h1 {
		font-size: 8.5rem;
		margin-top: 280px;
	}
	.intro {
		margin: 700px auto 120px;
	}
	.intro-copy {
		font-size: 30px;
		width: 80%;
	}
	.rosemill {
		font-size: 15px;
	}
	.city {
		display: block;
		span {
			display: block;
			text-align: center;
			font-size: 15px;
			margin: 10px;
		}
	}
	.mainPlanet {
		width: 50%;
		height: 50%;
		left: 25%;
	}
	.smallPlanet {
		img {
			width: 10%;
		}
	
	}
	.planet-x {
		img {
			top: 5px;
		}
	}
	.mars {
		img {
			top: -20px;
		}
	}
	.saturn {
		img {
			top: -40px;
		}
	}
	.planet-y {
		img {
			top: -75px;
			display: none;
		}
	}
	.main-heading-wrap {
		height: auto;
	}
	.webdev-content {
		background-color: transparent;
	}
	.webdev {
		background-color: transparent;
		width: 100%;
		h2 {
			font-size: 4.5rem;
			width: 100%;
			margin: auto;
		}
	}
	.design {
		h2 {
			font-size: 4.5rem;
			width: 100%;
			margin: auto;
		}
	}
	.about {
		h2 {
			font-size: 4.5rem;
			width: 100%;
			margin: auto;
		}
		height: 86vh;
		width: 100%;
		.img {
			height: 77vh;
		}
		.intro-copy {
			margin-top: 170px;
		}
	}
	.main-gif.absolute {
		position: absolute !important;
		top: 200px;
	}
	.img {
		img {
			width: 75%;
		}
	}
	.design-item-copy {
		h2 {
			font-size: 60px;
		}
	}
	.rosemill-logo-rose {
		bottom: 28px;
		left: 25px;
		width: 35px;
		height: 35px;
	}
	.near-orbit {
		height: 85%;
	}
	.rosemill-logo {
		width: 75px;
		height: 75px;
	}
	// section.test-sticky {
	// 	top: 90px;
	// }
	.wrapper {
		width: 95%;
	}
	.design-piece{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
		h3{
			font-size: 2.5rem!important;
		}
		.design-thumbnail {
			width: auto;
			&.mt80{
				margin-top: 0;
			}
			.h3{
				&-container{
					width: 40vw;
				}
				&-wrap{
					width: 40vw;
					
				}
		}
		.th-desc{
			width: 40vw;
			.vert-line{
				margin-left: calc(20vw - 2px);
			}
		}
	}
}

.tracks-img {
	background-image: url("../../img/tracks.jpg");
	height: 40vw;
	width: 40vw;
	background-size: cover;
}
.bananaleaves-img {
	background-image: url("../../img/bananaleaves.png");
	height: 40vw;
	width: 40vw;
	background-size: cover;
}
.bunch-img {
	background-image: url("../../img/bunch.jpg");
	height: 40vw;
	width: 40vw;
	background-size: cover;
}
.maybe-img {
	background-image: url("../../img/maybe.jpg");
	height: 40vw;
	width: 40vw;
	background-size: cover;
}
.strider-img {
	background-image: url("../../img/strider.png");
	height: 40vw;
	width: 40vw;
	background-size: cover;
}
.rbno-img {
	background-image: url("../../img/Juxtaxrbno2.1a2rflctd.jpg");
	height: 40vw;
	width: 40vw;
	background-size: cover;
}
img.rot-img{
	object-fit: cover;
	z-index: -1;
	position: absolute;
	left: 5vw;
	top: 5vw;
	height: 30vw!important;
	width: 30vw!important;
}

.panel,
.panel2{
	width: 50vw!important;
}

.horizontal-container-first{
	transform: translateX(-100%);
}
}