@media only screen and (max-width: 1200px) {
	.rbno-img {
		height: 225px;
	}
	.strider-img {
		height: 225px;
	}
	.bunch-img {
		height: 225px;
	}
	.bananaleaves-img {
		height: 225px;
	}
	.tracks-img {
		height: 275px;
	}
	.maybe-img {
		height: 275px;
	}
	h1 {
		font-size: 16.5rem;
		margin-top: 170px;
	}
	.design-thumbnail {
		h3 {
			font-size: 3rem;
		}
	}
	.webdev-content {
		h3 {
			font-size: 3rem;
		}
		.webdev-piece {
			div {
				padding: 15px;
			}
		}
	}
	.webdev {
		width: 90%;
	}
	.about {
		width: 90%;
	}
	.intro-copy {
		margin-top: 300px;
		width: 90%;
	}
	.see-all-webdev.contact-me {
		margin-bottom: 30px;
	}
	.see-all-webdev {
		margin-top: 20px;
		margin-bottom: 35px;
	}
}