@media only screen and (max-width: 1200px) {

	.intro-copy{
		font-size: 30px;
		strong{
			font-size: 40px;
		}
	}
	h1 {
		font-size: 16.5rem;
		margin-top: 170px;
	}
	.design-thumbnail {
		h3 {
			font-size: 3rem;
		}
	}
	.webdev-content {
		h3 {
			font-size: 3rem;
		}
		.webdev-piece {
			div {
				padding: 15px;
			}
		}
	}

	.see-all-webdev.contact-me {
		margin-bottom: 30px;
	}
	.see-all-webdev {
		margin-top: 20px;
		margin-bottom: 35px;
	}

	footer{
		padding-top: 12px;
	}
}

