.white-bg{
		background-color: white;
	}

@keyframes fadeInUp {
	from {
		transform: translate3d(0,40px,0);
	}
	to {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}
@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-15px);
	}
}
@keyframes mover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-15px);
	}
}
/*moon styles*/
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes spin-negative {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}
@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes sk-bouncedelay {
	0%,80%,100% {
		-webkit-transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1.0);
	}
}
@keyframes sk-bouncedelay {
	0%,80%,100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}



.cursor {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	border: 1px solid #2C2B2C;
	transition: all 200ms ease-out;
	position: fixed;
	pointer-events: none;
	left: 0;
	top: 0;
	z-index: 999999;
	// transform: translate(calc(-50% + 15px), -50%);
  }
  
  .cursor2 {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: transparent;
	opacity: .3;
	position: fixed;
	// transform: translate(50%, 50%);
	pointer-events: none;
	transition: width .3s, height .3s, opacity .3s;
  }
  
  .hover {
	width: 50px;
	height: 50px;
  }
  
  .cursorinnerhover {
	width: 50px;
	height: 50px;
	opacity: .5;
  }